.single{
    display: flex;
    
    .singlecontainer{

       
        flex:6;
       
        background-color:whitesmoke;

       
    }
}





.single:lang(ar){
    
    display: flex;
    
    .singlecontainer{

       
        flex:6;
       
        background-color:whitesmoke;

       
       
    }

       
        

       

}