.navbarad{
    background-color: white;
    height: 80px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
     box-shadow: 2px 4px 10px rgba(201,201,201,0.47);
    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search{
            display: flex;
            align-items: center;
            border: 0.5px solid lightgray;
            padding: 3px;
            
            .input{
                
                border: none;
                outline: none;
                background-color: transparent;
               
            }
        }
        .itemss{
            display: flex;
            align-items: center;
            .iteme{
               
                margin-right: 20px;
                
                botton{
                 
                    cursor: pointer;
                    border: 0.5px solid;
                    border-color: #c9c8c8;
                  
                   &:hover{
                    background-color: #cbc6c6;
                   }
                }
                .avatar{
                   
                    width:70px;
                    height: 150px;
                }
                
            }
        }
    }
}
